

.pollution {
  margin: 0 3.2rem;

  &__polluants {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
    transition: .5s ease-in;

    & h3 {
      font-size: 1.6rem;
      cursor: pointer;
    }
  }

  &__container {
    border: 1px solid #000;
    border-radius: 1.5rem;
    padding: 2.4rem 2.4rem 4rem;
    position: relative;
  }
}

.polluant{
  &__container{
    & h3.selected{
      color: $green;
      font-weight: 700;
      font-size: 1.8rem;
      text-decoration: underline;
    }
  }

  &__card {
    position: absolute;
    width: 100%;
    padding: 2rem;
    top: 5rem;
    left:0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    visibility: hidden;

    &.selected {
      z-index: 12;
      visibility: visible;
    }


    & p {
      line-height: 3rem;
      font-size: 1.6rem;
      margin-bottom: 3rem;
      text-align: justify;
    }
  }

  &__products{
    display: flex;
    justify-content: center;
    gap: 6rem;


    &--title{
      text-transform: uppercase;
      font-weight: 700;

      & a{
        color: #000;

      }
    }

    & div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & img{
      margin-bottom: 2rem;
    }
  }
}

.product-measure {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 500px) {
  .pollution {
    &__polluants {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
      align-items: flex-start;
      transition: 0.5s ease-in;
      align-content: flex-start;
    }

    &__container{
      padding: 2.4rem 2.4rem 7rem;
    }
  }
  .polluant__card {
    position: absolute;
    width: 100%;
    padding: 2rem;
    top: 10rem;
    left:0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    visibility: hidden;
  }
}


@media (min-width: 900px) {
  .pollution {
    margin: 0 10.4rem;

    &__container{
      margin: 0 3rem;

    }

    &__card {
      display: flex;
      flex-direction: row;
    }
  }

  .polluant{
    &__card{
      &.selected {
        z-index: 12;
        visibility: visible;
      }
    }
  }
}

@media (min-width: 1100px) {
  .pollution {
    margin: 0 10.4rem;

    &__container{
      margin: 0 9rem;
      padding: 4rem;
    }

    &__card {
      display: flex;
      flex-direction: row;
      gap: 6rem;
    }
  }
  .polluant{
    &__card{
      position: absolute;
      padding: 2rem 4rem;
      top: 7rem;
      left:0;
      right: 0;

      & p{
        column-count: 2;
        gap: 2.4rem;
        text-align: justify;
      }
    }
  }
}
