@import "reset";
@import "variables";
@import "fonts";


html{
  font-size: 10px;
}

body, body * {
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

p, a{
  font-size: 1.6rem;
}
#no-margin{
  margin: 0;
}
.title{
  font-size: 2.5rem;
  font-weight: 700;
  color: $green;
  margin-top: 6rem;
}
.light{
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.link{
  color: #000;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
}
.arrow{
  margin-left: 1.5rem;
  transition: .2s ease-in;

  &:hover, &:active, &:focus{
    margin-left: 2rem;
    transition: .2s ease-in;
  }
}


.line{
  border-bottom: 1.5px solid black;
  width: 100%;
  display: block;
  flex: 1;
  transform: translateY(-10px);
}
.titleHeader{
  display: flex;
  gap: 1.5rem;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 6rem;
}
.space{
  margin-bottom: $spaceM;
}

strong{
  font-weight: 700;
}

@import "index";
@import "products";
@import "header";
@import "about";
@import "footer";
@import "contact";
@import "pollution";
@import "publications";
@import "mentions";
@import "estimation";